<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>管理机构角色</h2>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-4" ng-repeat="role in vm.current.space.roles">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <div class="m-t-xs font-bold">{{role.alias}}</div>
              <div class="m-t-xs font-bold"><small>{{role.name}}</small></div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>父角色</strong></h3>
            <p>></i><strong>角色功能</strong></p>
            <p>></i><strong>可申请角色</strong></p>
            <p>></i><strong>状态</strong></p>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a1.jpg">

              <div class="m-t-xs font-bold">CEO</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>Alex Johnatan</strong></h3>

            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
              <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a3.jpg">

              <div class="m-t-xs font-bold">Marketing manager</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>Monica Smith</strong></h3>

            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
              <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a4.jpg">

              <div class="m-t-xs font-bold">Sales manager</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>Michael Zimber</strong></h3>

            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
              <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a5.jpg">

              <div class="m-t-xs font-bold">Graphics designer</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>Sandra Smith</strong></h3>

            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
              <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a6.jpg">

              <div class="m-t-xs font-bold">Graphics designer</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>Janet Carton</strong></h3>

            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
              <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a1.jpg">

              <div class="m-t-xs font-bold">CEO</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>Alex Johnatan</strong></h3>

            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
              <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">

              <div class="m-t-xs font-bold">Graphics designer</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>John Smith</strong></h3>

            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
              <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a3.jpg">

              <div class="m-t-xs font-bold">Marketing manager</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>Monica Smith</strong></h3>

            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
              <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a4.jpg">

              <div class="m-t-xs font-bold">Sales manager</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>Michael Zimber</strong></h3>

            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
              <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a5.jpg">

              <div class="m-t-xs font-bold">Graphics designer</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>Sandra Smith</strong></h3>

            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
              <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a6.jpg">

              <div class="m-t-xs font-bold">Graphics designer</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>Janet Carton</strong></h3>

            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
              <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="clearfix"></div>
        </a>

      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a1.jpg">

              <div class="m-t-xs font-bold">CEO</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>Alex Johnatan</strong></h3>

            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
              <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="contact-box">
        <a ui-sref="profile">
          <div class="col-sm-4">
            <div class="text-center">
              <img alt="image" class="img-circle m-t-xs img-responsive" src="img/a2.jpg">

              <div class="m-t-xs font-bold">Graphics designer</div>
            </div>
          </div>
          <div class="col-sm-8">
            <h3><strong>John Smith</strong></h3>

            <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
            <address>
              <strong>Twitter, Inc.</strong><br> 795 Folsom Ave, Suite 600<br> San Francisco, CA 94107<br>
              <abbr title="Phone">P:</abbr> (123) 456-7890
            </address>
          </div>
          <div class="clearfix"></div>
        </a>
      </div>
    </div>
  </div>
</div>